<manifest package="com.example.wifisygnalanalizer"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!--dostep do wifi-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!--dostep do sieci-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!--dostep do lokalizacji-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!--przyblizona lokalizacja-->


    <application
        android:label="WiFiLogger"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
